<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.app.submision.submission.controller.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TeacherServlet</servlet-name>
        <servlet-class>com.app.submision.submission.controller.TeacherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TeacherServlet</servlet-name>
        <url-pattern>/TeacherServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.app.submision.submission.controller.AdminServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.app.submision.submission.controller.StudentServlet</servlet-class>
        <multipart-config>
            <location>C:\Users\user\Desktop</location>
            <max-file-size>10485760</max-file-size> <!-- 10MB -->
            <max-request-size>20971520</max-request-size> <!-- 20MB -->
            <file-size-threshold>1048576</file-size-threshold> <!-- 1MB -->
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>

    </servlet-mapping>

</web-app>